**/.config/**
**/.bash_history
**/.bash_logout
**/.bash_profile
**/.bashrc
**/.dotsync/lock
**/.dotsync/metadata.json
**/.dotsync/parent.tar.zst
**/.gitconfig
**/.hgrc
**/.inputrc
**/.python_history
**/.servicefoundry
**/.tmux.conf
**/.vimrc
**/.zsh_history
**/.zshrc
